---
import type { GetStaticPathsOptions } from "astro";
import DigestList from "../components/DigestList.astro";
import { getAllDigestEntries } from "../components/digest";
import { getPageTitle, mainDescription } from "../components/pageTitle";
import Layout from "../layouts/Layout.astro";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  return paginate(await getAllDigestEntries(), { pageSize: 6 });
};

const { page } = Astro.props;
---

<Layout
  title={getPageTitle("Articles")}
  description={mainDescription}
  pageType="website"
>
  <div class="flex flex-col gap-y-8">
    <DigestList digests={page.data} />
    <div
      class="text-sm font-light w-full flex items-center justify-center gap-x-4 text-stone-500
      [&_a]:w-20 [&_a]:text-center [&_a]:py-1.5 [&_a]:border [&_a]:rounded-full [&_a]:border-stone-300
      [&_a]:duration-300 hover:[&_a]:border-cyan-700 hover:[&_a]:text-cyan-700"
    >
      <a
        href={page.url.prev}
        class:list={[
          {
            invisible: !page.url.prev,
          },
        ]}
      >
        Previous
      </a>
      <span class="text-center">
        Page {page.currentPage} of {page.lastPage}</span
      >
      <a
        href={page.url.next}
        class:list={[
          {
            invisible: !page.url.next,
          },
        ]}
      >
        Next
      </a>
    </div>
  </div>
</Layout>
