---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ArticleMeta from '../../components/ArticleMeta.astro';
import { createExcerpt } from '../../lib/digest';
import CommentSection from '../../components/CommentSection.svelte';
import TableOfContents from '../../components/TableOfContents.svelte';
import config from '../../lib/config';
import { buildToc } from '../../lib/tableOfContent';

export async function getStaticPaths() {
  const blogEntries = await getCollection('post');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

const toc = buildToc(headings);
---

<Layout
  title={config.site.pageTitle(entry.data.title)}
  description={createExcerpt(entry.slug, entry.body)}
  pageType="article"
>
  <ArticleMeta date={entry.data.date} tags={entry.data.tags} />
  <article class="prose prose-stone pt-1">
    <h1>{entry.data.title}</h1>
    <TableOfContents client:only={true} toc={toc} />
    <Content />
  </article>
  <div class="mt-8 border-t border-stone-300 pt-8">
    <CommentSection client:only={true} postId={entry.slug} />
  </div>
</Layout>
