---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleMeta from "../../components/ArticleMeta.astro";
import { getPageTitle } from "../../components/pageTitle";
import { createExcerpt } from "../../components/digest";
import CommentSection from "../../components/CommentSection.svelte";

export async function getStaticPaths() {
  const blogEntries = await getCollection("post");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={getPageTitle(entry.data.title)}
  description={createExcerpt(entry.slug, entry.body)}
  pageType="article"
>
  <ArticleMeta date={entry.data.date} tags={entry.data.tags} />
  <article class="prose prose-stone pt-1">
    <h1>{entry.data.title}</h1>
    <Content />
  </article>

  <div class="mt-10 border-t pt-8">
    <CommentSection client:load postId={entry.slug} />
  </div>
</Layout>
