---
import ArticleMeta from "./ArticleMeta.astro";
import { type DigestEntry } from "./digest";

interface Props {
  digests: DigestEntry[];
}

const { digests } = Astro.props;
---

<ul class="flex flex-col gap-y-8">
  {
    digests.map((digest) => (
      <li>
        <ArticleMeta date={digest.date} tags={digest.tags} />
        <a
          tabindex="0"
          class="block outline-0
          hocus:[&_h2]:before:blur-none hocus:[&_h2]:before:w-1 hocus:[&_h2]:before:h-full hocus:[&_h2]:before:bg-cyan-500"
          href={digest.path}
        >
          <h2
            class="relative
            text-[21px] mb-2 gap-x-2 text-stone-900 before:w-0 before:h-0
            before:transition-all before:duration-300 before:bg-cyan-50
            before:absolute before:-left-4 before:top-0 before:blur-xs before:inline-block"
          >
            {digest.title}
          </h2>
          <p class="leading-6 text-sm md:text-base">{digest.excerpt}</p>
        </a>
      </li>
    ))
  }
</ul>
