---
import ArticleMeta from "./ArticleMeta.astro";
import { type DigestEntry } from "./digest";

interface Props {
  digests: DigestEntry[];
}

const { digests } = Astro.props;
---

<ol class="flex flex-col gap-y-8">
  {
    digests.map((digest) => (
      <li class="relative before:transition-all before:duration-300 before:bg-cyan-50 before:absolute before:-left-5 before:top-0 before:blur-xs hover:before:blur-none before:w-0 hover:before:w-1 before:h-0 hover:before:h-14 hover:before:bg-cyan-500 before:inline-block">
        <ArticleMeta date={digest.date} tags={digest.tags} />
        <a href={digest.path}>
          <h2 class="text-[21px] pb-2 gap-x-2 text-stone-900">
            {digest.title}
          </h2>
          <p class="leading-6 text-sm md:text-base">{digest.excerpt}</p>
        </a>
      </li>
    ))
  }
</ol>
