---
import NavButton from "../components/NavButton.astro";
import { mainTitle } from "../components/pageTitle";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  pageType: "website" | "article";
}

const { title, description, pageType } = Astro.props;
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={mainTitle} />
    <meta property="og:type" content={pageType} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:creator" content="@" />
    <title>{title}</title>
    <link rel="cononical" href={Astro.url} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="font-sans text-stone-800 underline-offset-4 flex flex-col m-auto items-stretch px-8 min-h-screen max-w-[54rem]"
  >
    <header
      class="text-stone-900 font-light flex flex-col gap-y-4 pt-12 pb-14 w-full items-start whitespace-nowrap text-ellipsis"
    >
      <a href="/">
        <h1 class="text-2xl">
          {mainTitle}
        </h1>
      </a>
      <nav>
        <ul class="text-lg flex gap-x-4">
          <NavButton name="Home" link="/" />
          <NavButton name="About" link="/about" />
          <NavButton name="RSS" link="/rss.xml" />
          <NavButton name="Landing Page" link="https://rewired.moe" />
        </ul>
      </nav>
    </header>
    <main class="w-full">
      <slot />
    </main>
    <div class="grow shrink"></div>
    <footer
      class="font-light text-xs text-center my-8 py-8 text-stone-400 leading-6"
    >
      <p>This website is built from scratch without templates.</p>
      <p class="flex flex-wrap justify-center items-center gap-x-2">
        <span>Copyright © MMXXV Rewired All Rights Reserved.</span>
        <a
          tabindex="0"
          href="https://icp.gov.moe/?keyword=20250143"
          target="_blank"
        >
          萌ICP备20250143号
        </a>
      </p>
      <p class="mt-4">
        By browsing, you consent to third-party data collection for
        functionality, security, and analytics, including but not limited to
        Cloudflare Pages, Cloudflare D1, Cloudflare Turnstile, and ByteDance
        Volcano Ark.
      </p>
    </footer>
  </body>
</html>
