---
import NavButton from "../components/NavButton.astro";
import { mainDescription, mainTitle } from "../components/pageTitle";

interface Props {
  title: string;
  description: string;
  pageType: "website" | "article";
}

const { title, description, pageType } = Astro.props;
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={mainTitle} />
    <meta property="og:type" content={pageType} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:creator" content="@" />
    <link rel="cononical" href={Astro.url} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col items-center font-sans font-light px-8 min-h-screen"
  >
    <header
      class="flex flex-col gap-y-4 pt-12 pb-14 max-w-screen-md w-full items-start"
    >
      <a href="/">
        <h1
          class="text-2xl transition-all duration-300
        hover:drop-shadow"
        >
          {mainTitle}
        </h1>
      </a>
      <nav>
        <ul class="text-lg flex gap-x-6">
          <NavButton name="About" link="/about" />
          <NavButton name="RSS" link="/rss.xml" />
          <NavButton name="Landing Page" link="https://rewired.moe" />
        </ul>
      </nav>
    </header>
    <main class="max-w-screen-md w-full">
      <slot />
    </main>
    <div class="grow shrink"></div>
    <footer class="text-sm py-14 text-stone-500">
      <p>Copyright © 2024 Rewired All Right Reserved</p>
    </footer>
  </body>
</html>
